@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC; /* Slate-50 */
  --foreground: #0F172A; /* Slate-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
